<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>YeezyDB</title>
</head>
<body>
    <div class="titleSearchWrap">
    <h1><a href="{{ url_for('index') }}">YeezyDB</a></h1>
    <div class="search">
        <form id="searchForm" action="{{ url_for('index') }}" method="get">
            <input type="text" id="searchInput" name="search" value="{{ search_criteria }}" placeholder="Search">
        </form>
    </div>
</div>

    <div class="gridWrapper">
        <div id="shoesList">
        {% for shoe in shoes %}
            <div class="shoe">
                <div class="container">
                    <div class="paragraph">
                        <p>
                            <a href="https://stockx.com/search?s={{ shoe[1].replace("'", '').replace(' ', '+') }}">{{ shoe[1] }} </a>
                        </p>
                    </div>
                    <div class="paragraph2">
                        <p>
                        {{ shoe[3] }}
                        </p>
                    </div>
                </div>
                <div class="imageWrapper">
                    <img src="{{ shoe[2] }}" alt="{{ shoe[1] }}" loading="lazy">
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <div class="page">
    {% set start_page = 1 %}
    {% if page > 5 %}
        {% set start_page = page - 5 %}
    {% endif %}

    {% set end_page = start_page + 9 %}
    {% if end_page > total_pages %}
        {% set end_page = total_pages %}
    {% endif %}

    <div class="pagination">
    {% if search_criteria %}
        {% for num in range(start_page, end_page + 1) %}
            <a href="{{ url_for('index', page=num, search=search_criteria) }}">{{ num }}</a>
        {% endfor %}
    {% else %}
        {% for num in range(start_page, end_page + 1) %}
            <a href="{{ url_for('index', page=num) }}">{{ num }}</a>
        {% endfor %}
    {% endif %}
    </div>
</body>
</html>

